# Include the README
include *.md

# Include the license file
include LICENSE.txt

recursive-include telegram_api *.py
recursive-include telegram_api/lib *
recursive-include docs *

global-exclude *.pyc
